{% extends "base.html" %}
{% block title %}The Global Data Plane Wiki{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1> Using the Global Data Plane Wiki</h1>
    <p>The Global Data Plane Wiki is primarily designed for use with API access, not browser access.  This UI is designed for debugging/explanatory access.</p>
    <p>To access hosted data, use one of the supported routes below with any standard HTTP request library; e.g. requests in Python, fetch in JavaScript, or with an 
      executable such as wget or cURL.  The result is always in a JSON list or (in the case of get_filtered_rows) as a list of lists.</p>
    <p>
      The full documentation on the protocol is in <a href="https://github.com/rickmcgeer/sdtp/blob/main/docs/sdtp.md">SDTP Documentation</a>
    </p>
    <p>
      UC Berkeley users can upload new tables to the Wiki.  The tables must be in <a href="<p>
      The full documentation on the protocol is in <a href="https://github.com/rickmcgeer/sdtp/blob/main/docs/sdml.md">Simple Data Markup Language</a> format.  At the moment, RowTables and 
      RemoteTables are supported.
    </p>
    <h1>GDP Data  Wiki Tables</h1>
    {% for table in table_names %}
      <a href="/view_table?table={{ table }}">{{ table }}</a><br>
    {%  endfor %}
    <h1> Supported API Methods</h1>
      <ul>
        {% for route in routes %}
          <li> {{ route}} </li>
        {% endfor %}
      </ul>
    
    
{% endblock %}

