{% extends "base.html" %}
{% block title %}Routes{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .type { color: #336699; font-family: monospace}
    </style>
{% endblock %}
{% block content %}
<center>
  <h1>SDTP Data Wiki Server Routes</h1>
  <table style="border: 1px solid blue;">
    <tr style="border: 1px solid blue;">
      {% for key in  keys  %}
        <th style="border: 1px solid blue;">{{ key }} </th>
      {% endfor %}
    </tr>
    
    {% for page  in pages %}
      <tr style="border: 1px solid blue;">
        {% for key in keys  %}
          <td style="border: 1px solid blue;"> {{ page[key] }} </td>
        {% endfor %}

      </tr>
    {% endfor %}
  </table>
</center>
  <br>
  
{% endblock %}