{% extends "base.html" %}
{% block title %}Uploader{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
   {% if email is defined %}
    <h1>Upload a New Galyleo Data Platform Table</h1>
    <p>
        Choose a <a href="https://github.com/rickmcgeer/sdtp/blob/main/docs/sdml.md", target="_blank">Simple Data Markup Language (SDML)</a> file to upload to the data wiki.
        The table named "foo.sdml" will be available under {{ email }}/foo.sdml.  Note this will overwrite 
        any tables of that name.
    </p>
    <P>
        Currently loaded tables for {{ email }}:
    </P>
    <ul>
        {% for table_name in user_tables %}
            <li> {{ table_name }}</li>
        {% endfor %}
    </ul>
        <form action = "/services/galyleo/upload_table" method = "post" enctype="multipart/form-data">   
            <label for="file">Choose File:</label>
            <input type="file" name="file" accept=".sdml"/><br>  
            <input type = "submit" value="Upload">   
        </form>   
    {% endif %}
{% endblock %}