{% extends "base.html" %}
{% block title %}Tables{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <script>
        function confirmAndDelete(table_name) {
            if (confirm(`Are you sure you want to delete ${table_name}?`)) {
              // User clicked OK, make an AJAX request to the server
              // Example using Fetch API:
              fetch(`/services/galyleo/delete_table?name=${table_name}`)
              .then(response => {
                // Handle the server's response
              })
              .catch(error => {
                // Handle any errors
              });
            }
          }

    </script>
{% endblock %}
{% block content %}
    <h1>Galyleo Data Plaform Tables</h1>
    <table class="object-table">
        <caption>Tables owned by {{ email }}</caption>
        {% for table in tables["user"] %}
            <tr>
                <td>
                    <a href="/services/galyleo/view_table?table={{ table }}">View {{ table }}</a>
                </td>
                <td>
                    <a href="/services/galyleo/share_table?name={{ table }}"><button>Share {{ table }}</button></a>
                </td>
                <td>
                    <a href="/services/galyleo/delete_table_confirm?name={{ table }}"><button>Delete {{ table }}</button></a>
                    <!--
                    {% set table_string = "'" + table + "'" %}
                    {% set call = '"confirmAndDelete(' + table_string  + ');"' %}
                    <button onclick="confirmAndDelete('{{ table }}')">Delete {{ table }}</button>
                    -->
                </td>
            </tr>
            
        {%  endfor %}
       
    </table>
    <h2>Other Tables</h2>
        {% for table in tables["other"] %}
            <a href="/services/galyleo/view_table?table={{ table }}">{{ table }}</a><br>
        {%  endfor %}
    
{% endblock %}
