{% extends "base.html" %}


{% block title %}Dashboards{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Galyleo Data Plaform Dashboards</h1>
    
    <table class="object-table">
        {% for dashboard in dashboards %}
          <tr>
            <td>
              {{ dashboard }}
            </td>
            <td>
                <a href="/view_dashboard?dashboard_id={{ dashboard }}">View </a>
            </td>
            <td>
                <a href="/view_dashboard_as_json?dashboard_id={{ dashboard }}">View  as JSON</a>
            </td>
          </tr>
            
        {%  endfor %}
    </table>
        
    
{% endblock %}
